<div id="about">
  <div class="about">
    <!--Loader-->
    <div
      *ngIf="loader.isLoading | async"
      class="d-flex justify-content-center loader"
    >
      <div class="spinner-border text-info" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    <!---/** Loader-->
    <div class="about-item">
      <h1 class="py-3 text-center text-white font-weight-bold">EClaims</h1>
      <mdb-card class="card">
        <mdb-card-body>
          <h3>Recover your password</h3>
          <form [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <div class="md-form mb-0">
              <input
                mdbInput
                type="text"
                id="form2"
                class="form-control"
                formControlName="emailAddress"
              />
              <label for="form2">Email Address</label>
            </div>
            <!--Validation-->
            <div
              *ngIf="
                emailAddress?.invalid &&
                (emailAddress?.dirty || emailAddress?.touched)
              "
              class="text-danger"
            >
              <small *ngIf="emailAddress?.errors?.required">
                *Email address is required
              </small>
              <small *ngIf="emailAddress?.errors?.email">
                *Invalid email address
              </small>
            </div>

            <button
            class="my-4 cust_btn py-2"
              
              type="submit"
              [disabled]="!emailForm.valid"
              size="sm"
            >
              Send reset link
            </button>

            <p class="text-center">
              <a routerLink="/login">Go back to login</a>
            </p>
          </form>
        </mdb-card-body>
      </mdb-card>
    </div>
  </div>
</div>
