.card{
    max-width: 60em;
    margin: 10px auto;
    left: 8%;
    border: none;
}

.loader{
    position: relative;
    top: 50%;
    left: 50%;
    z-index: 99;
}

tr:nth-child(even) {
    background-color: rgb(223, 223, 252);
}