<div class="container-fluid py-5">
<h1 class="py-3 text-center text-info">eClaims</h1>
<h3 class="p2-3 text-center">Create an account</h3>
<mdb-card class="mx-auto" style="color: #757575; max-width: 500px;">
  <mdb-card-body>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <!-- First name -->
        <div class="md-form mb-0">
          <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            <input type="text"  formControlName="firstname" class="form-control" mdbInput>
            <label>First name</label>
          </div>
          <!--Validation-->
          <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="text-danger">
            <small  *ngIf="firstname?.errors?.required"> *Name is required</small>
            <small  *ngIf="firstname?.errors?.pattern"> *Name  must be letters only</small>
            <small  *ngIf="firstname?.errors?.minlength"> *Name must have more than 3 letters</small>
          </div>
 

            <!-- Last name -->
          <div class="md-form mb-0">
            <mdb-icon fas icon="user" class="prefix"></mdb-icon>
            <input type="text" formControlName="lastname" class="form-control" mdbInput>
            <label>Last name</label>
          </div>
          <!--Validation-->
          <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="text-danger">
            <small  *ngIf="lastname?.errors?.required"> *Name is required</small>
            <small  *ngIf="lastname?.errors?.pattern"> Name must be letters only</small>
            <small  *ngIf="lastname?.errors?.minlength"> *Name must have more than 3 letter</small>
          </div>

          <!-- Phone number -->
          <div class="md-form mb-0">
              <mdb-icon fas icon="phone-alt" class="prefix phone"></mdb-icon>
              <input type="text" formControlName="phoneNumber" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
                mdbInput>
              <label>Phone number</label>
          </div>
          <!--Validation-->
          <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="text-danger">
            <small *ngIf="phoneNumber?.errors?.required">*Phone number is incorrect</small>
          </div>

          <div class="md-form mb-0">
              <mdb-icon fas icon="envelope" class="prefix"></mdb-icon>
              <input mdbInput formControlName="emailAddress" type="text" id="form2" class="form-control">
              <label for="form2">Email address</label>
          </div>
          <!--Validation-->
          <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)" class="text-danger">
            <small  *ngIf="emailAddress?.errors?.required"> *Email address is required</small>
            <small  *ngIf="emailAddress?.errors?.email"> *Invalid email address</small>
          </div>
          
           <!-- Password -->
           <div class="md-form mb-0">
            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
            <input type="password" class="form-control" formControlName="password" mdbInput>
            <label>Password</label>
          </div>
          <!--validation-->
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
            <small  *ngIf="password?.errors?.required"> *password is required</small>
            <small  *ngIf="password?.errors?.pattern"> * At least 8 characters and 1 digit</small>
          </div>
  
           <!-- Password -->
           <div class="md-form mb-0">
            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
              <input type="password" class="form-control" formControlName="confirmPassword" mdbInput>
              <label>Confirm password</label>
            </div>
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
              <small *ngIf="confirmPassword?.errors?.required"> *Confirm password is required</small>
            </div>
            <small *ngIf="userForm.errors?.misMatch" class="text-danger">*Passwords don't not match</small>


          <p class="text-center mt-5">Have an account already?
              <a routerLink="/login">Login</a>
          </p>

          <button mdbBtn type="submit" [disabled]='!userForm.valid' color="info" block="true" class="my-4" size="sm">Sign up</button>
       </form>
  </mdb-card-body>
</mdb-card>
</div>
