<div class="container-fluid">
<div class="container-fluid__main">
  <h1 class="py-3 text-center text-white font-weight-bold">EClaims</h1>
<mdb-card class="mx-auto">

  <mdb-card-body class="card">
    <h3>Create an account</h3>
      <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
          <!-- First name -->  <!--Loader-->
  <div *ngIf="loader.isLoading | async" class="d-flex justify-content-center loader">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!---/** Loader-->
        <div class="md-form mb-0">
            <input type="text"  formControlName="firstname" class="form-control" mdbInput>
            <label>First name</label>
          </div>
          <!--Validation-->
          <div *ngIf="firstname?.invalid && (firstname?.dirty || firstname?.touched)" class="text-danger">
            <small  *ngIf="firstname?.errors?.required"> *Name is required</small>
            <small  *ngIf="firstname?.errors?.pattern"> *Name  must be letters only</small>
            <small  *ngIf="firstname?.errors?.minlength"> *Name must have more than 3 letters</small>
          </div>
 

            <!-- Last name -->
          <div class="md-form mb-0">
            <input type="text" formControlName="lastname" class="form-control" mdbInput>
            <label>Last name</label>
          </div>
          <!--Validation-->
          <div *ngIf="lastname?.invalid && (lastname?.dirty || lastname?.touched)" class="text-danger">
            <small  *ngIf="lastname?.errors?.required"> *Name is required</small>
            <small  *ngIf="lastname?.errors?.pattern"> *Name must be letters only</small>
            <small  *ngIf="lastname?.errors?.minlength"> *Name must have more than 3 letter</small>
          </div>

          <!-- Phone number -->
          <div class="md-form mb-0">
              <input type="text" formControlName="phoneNumber" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
                mdbInput>
              <label>Phone number</label>
          </div>
          <!--Validation-->
          <div *ngIf="phoneNumber?.invalid && (phoneNumber?.dirty || phoneNumber?.touched)" class="text-danger">
            <small *ngIf="phoneNumber?.errors?.required">*Phone number is required</small>
            <small *ngIf="phoneNumber?.errors?.pattern">*Phone number is incorrect</small>
          </div>

          <div class="md-form mb-0">
              <input mdbInput formControlName="emailAddress" type="text" id="form2" class="form-control">
              <label for="form2">Email address</label>
          </div>
          <!--Validation-->
          <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)" class="text-danger">
            <small  *ngIf="emailAddress?.errors?.required"> *Email address is required</small>
            <small  *ngIf="emailAddress?.errors?.email"> *Invalid email address</small>
          </div>
          
           <!-- Password -->
           <div class="md-form mb-0">
            <input type="password" class="form-control" formControlName="password" mdbInput>
            <label>Password</label>
          </div>
          <!--validation-->
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
            <small  *ngIf="password?.errors?.required"> *password is required</small>
            <small  *ngIf="password?.errors?.pattern"> *Must be at least 8 characters one small letter, capital letter, 
              number and specail character</small>
          </div>
  
           <!-- Password -->
           <div class="md-form mb-0">
              <input type="password" class="form-control" formControlName="confirmPassword" mdbInput>
              <label>Confirm password</label>
            </div>
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
              <small *ngIf="confirmPassword?.errors?.required"> *Confirm password is required</small>
            </div>
            <small *ngIf="userForm.errors?.misMatch" class="text-danger">*Passwords don't not match</small>


            <button  class="my-4 cust_btn py-2" [disabled]='!userForm.valid'>Sign up</button>
          <p class="text-center">Have an account already?
              <a routerLink="/login" class="text-color">Sign In</a>
          </p>

       </form>
  </mdb-card-body>
</mdb-card>
</div>
</div>
