.container-fluid{
    background-color: #81F0A3;
    background-image: linear-gradient(rgba(34, 35, 41, 0.5), rgba(0, 0, 0, 0.5)), url("../../../assets/image/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

h3{
    color: #fff;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
}