<app-header></app-header>
  <div class="container mt-5">
    <button mdbBtn color="info" type="submit" (click)="showAddClaim()">Add a claim</button>
    
    <div>
      <!--Getting claim on buttom add-->
      <div *ngIf="showClaim">
        <app-claim></app-claim>
      </div>
      
      <!--Table-->
      <table mdbTable *ngIf="!showClaim">
        <thead>
          <tr>
            <th class="">Claim number</th>
            <th class="">Date</th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td>1r32rqqrwe5qrqrqrewr44</td>
              <td>02-September-2010</td>
            </tr>
            <tr>
              <td>fqriqirewjiqriqjriqwjr</td>
              <td>13-June-2011</td>
            </tr>
        </tbody>
      </table>
      <!-- /** Table-->
    </div>
  </div>