<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-info" [containerInside]="false">

  <mdb-navbar-brand><a class="navbar-brand" routerLink="/dashboard">eClaims</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link link-bg waves-light" mdbWavesEffect routerLink="/dashboard">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link link-bg waves-light" mdbWavesEffect routerLink="/finalisedclaim">Finalised Claims</a>
      </li>
    </ul>
    <!-- Links -->

    <ul class="navbar-nav ml-auto nav-flex-icons">
        <!-- Dropdown -->
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon><span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <b class="dropdown-item b" disabled>{{user?.email}}</b>
            <a class="dropdown-item link-bg" mdbWavesEffect routerLink="/profile">Account</a>
            <a class="dropdown-item link-bg"  mdbWavesEffect (click)="logOut()">Logout</a>
          </div>
        </li>
  
      </ul>
      <!-- Links -->
  </links>
  <!-- Collapsible content -->

</mdb-navbar>

