<!--Claim,  call appointment, claim hisotyr-->
<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark bg-info" [containerInside]="false">

    <!-- Navbar brand -->
    <mdb-navbar-brand><a class="navbar-brand" href="">eClaims</a></mdb-navbar-brand>
  
    <!-- Collapsible content -->
    <links>
  
      <!-- Links -->
      <ul class="navbar-nav ml-auto">
        <!-- Dropdown -->
        
        <li class="nav-item waves-light" mdbWavesEffect>
          <a class="nav-link" routerLink=""></a>
        </li>
        
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="user"></mdb-icon>{{user?.firstname}}<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/profile">My account</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/dashboard">Claims</a>
            <a class="dropdown-item waves-light" mdbWavesEffect (click)="logOut()">Log out</a>
          </div>
        </li>
      </ul>
      <!-- Links -->
    </links>
    <!-- Collapsible content -->
</mdb-navbar>
  
