<div class="d-flex justify-content-between px-4 py-2">
    <p class="font-weight-bold">EClaims</p>
    <div class="d-flex" style="width: 200px;">
        <button  class="cust_btn py-2 clear_btn mr-4"  size="sm">Sign in</button>
        <button  class="cust_btn py-2 btn" size="sm">Sign in</button>
    </div>
</div>

<!--Hero section-->
<div class="d-flex px-4">
    <div class="col-6 col-md d-flex">
        <div class="my-auto ">

            <h2 class="font-weight-bold mb-4">
                Welcome to Eclaims Management Systems.
            </h2>
    
            <p class="mt-4">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi dolor, ea velit sunt ad repellendus! Rerum doloremque voluptatem voluptate voluptatibus. Neque.
            </p>
            <p class="mt-4">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi dolor, ea velit sunt ad repellendus! Rerum doloremque voluptatem voluptate voluptatibus. Neque.
            </p>
        </div>
    </div>

    <div class="col-6 col-md">
        <img class="img-fluid" src="../../../assets/image/background.svg" alt="">
    </div>

</div>