.card{
    max-width: 60em;
    margin: 10px auto;
    left: 8%;
    border: none;
}

.cust-card{
    min-width: 310px;
    padding: 10px;
    border: 2px solid rgb(45, 156, 207);
    border-radius: 8px;
}

.graph{
    max-height: 500px;
    max-width: 600px;
}