*{box-sizing: border-box;}

#about{
    min-height: 100vh;
    background-color: #dbad94;
    display: flex;
}

.about-claim{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.about{
   margin: auto;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 88;
}