*{box-sizing: border-box;}

#about{
    min-height: 100vh;
    background-color: #DBAD94;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-color {
    color: #DBAD94;
}

.card{
    width: 400px;
    border-radius: 20px;
}

.cust_btn{
    color: #fff;
    border: none;
    width: 100%;
    background-color: #DBAD94;
    border-radius: 10px;
}

.about-claim{
    color: #fff;
    display: flex;
    flex-direction: column;
}

.about{
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 40px;
}

.loader{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 88;
}

@media only screen and (max-width: 600px) {

    .card{
        min-width: 100%;  
      

        border-radius: 20px;
        margin: auto;
    }

    .about{
        padding: 0px;
        margin: 0;
    }
  }


  @media only screen and (max-width: 400px) {

    .card{ 
        max-width: 300px;
        border-radius: 20px;
        margin: auto;
    }

    .about{
        padding: 0px;
        margin: 0;
    }
  }

