<div id="about">
   <div class="about">
     <!--Loader-->
  <div *ngIf="loader.isLoading | async" class="d-flex justify-content-center loader">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!---/** Loader-->
    


    <div class="about-item">
        <h1 class="text-center text-white mb-4 font-weight-bold">EClaims</h1>          
    <mdb-card  class="card">
        <mdb-card-body>
            <h3 >Sign In</h3>
  

            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                
                <div class="md-form mb-0">
                    <input mdbInput type="text" id="form2" class="form-control" 
                        formControlName="emailAddress">
                    <label for="form2">Email Address</label>
                </div>
                <!--Validation-->
                <div *ngIf="emailAddress?.invalid && (emailAddress?.dirty || emailAddress?.touched)" class="text-danger">
                    <small  *ngIf="emailAddress?.errors?.required"> *Email address is required</small>
                    <small  *ngIf="emailAddress?.errors?.email"> *Invalid email address</small>
                </div>
    
                <div class="md-form mb-0">

                    <input mdbInput type="password" id="form2" class="form-control" formControlName="password">
                    <label for="form2">Password</label>
                </div>
                 <!--validation-->
                <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
                    <small  *ngIf="password?.errors?.required"> *password is required</small>
                </div>
    
                   
               
                 <div class="radioRow my-4">
                    <label>Role</label><br/>
                    <input type="radio" name="role" id="defaultChecked" formControlName="role" class="radio-size" value="user" checked mdInput> User
                    <input type="radio" name="role" formControlName="role" class="ml-4 radio-size" value="manager" mdInput> Manager
                </div>
          
                <button  block="true" class="my-4 cust_btn py-2" [disabled]='!loginForm.valid' type="submit" size="sm">Sign in</button>
            
                <p class="text-center">Are you new to eClaims?
                    <a routerLink="/register" class="text-color">Sign Up</a>
                </p>
    
                <p>
                    <a routerLink="/forgotpassword" class="text-dark">Forgot password</a>
                </p>
             </form>
        </mdb-card-body>
    </mdb-card>
    </div>

    </div>
</div>






