<app-header></app-header>
<mdb-card class="mx-auto mt-5" style="color: #757575; max-width: 500px;">
   <!--Loader-->
   <div *ngIf="loader.isLoading | async" class="d-flex justify-content-center loader">
    <div class="spinner-border text-info" role="status">
      <span class="sr-only">Loading...</span>
    </div>
    </div>
  <!---/** Loader-->
    <mdb-card-body>
        <h3 class="primary">Edit Profile</h3>
        <form [formGroup]="updateForm"
         (ngSubmit)="onUpdate(user?.firstname, user?.lastname, user?.phoneNumber, user?.email)">
            <!-- First name -->
          <div class="md-form mb-0">
              <input type="text" placeholder="{{user?.firstname}}" class="form-control" formControlName="firstname" mdbInput>
              <label for="materialRegisterFormFirstName">First name</label>
            </div>
            <!--Validation-->
            <div *ngIf="firstname?.invalid && firstname?.dirty" class="text-danger">
              <small  *ngIf="firstname?.errors?.required"> *Name is required</small>
              <small  *ngIf="firstname?.errors?.pattern"> *Name  must be letters only</small>
              <small  *ngIf="firstname?.errors?.minlength"> *Name must have more than 3 letters</small>
            </div>
  
            <!-- Last name -->
            <div class="md-form mb-0">
              <input type="text" placeholder="{{user?.lastname}}" class="form-control" 
              formControlName="lastname"  mdbInput>
              <label for="materialRegisterFormLastName">Last name</label>
            </div>
            <!--Validation-->
            <div *ngIf="lastname?.invalid && lastname?.dirty" class="text-danger">
              <small  *ngIf="lastname?.errors?.required"> *Name is required</small>
              <small  *ngIf="lastname?.errors?.pattern"> *Name must be letters only</small>
              <small  *ngIf="lastname?.errors?.minlength"> *Name must have more than 3 letter</small>
            </div>
  
            <!-- Phone number -->
            <div class="md-form mb-0">
                <input type="text" placeholder="{{user?.phoneNumber}}" class="form-control" 
                        aria-describedby="materialRegisterFormPhoneHelpBlock" formControlName="phoneNumber" mdbInput>
                <label for="materialRegisterFormPhone">Phone number</label>
            </div>
            <!--Validation-->
            <div *ngIf="phoneNumber?.invalid && phoneNumber?.dirty" class="text-danger">
              <small *ngIf="phoneNumber?.errors?.pattern">*Phone number is incorrect</small>
            </div>

            <!--Email Address-->
            <div class="md-form">
                <input mdbInput type="text" disabled placeholder="{{user?.email}}" 
                id="form2" class="form-control">
                <label for="form2">Email address</label>
            </div>
            <button type="reset" mdbBtn class="customBtn" color="purple" size="sm">Cancel</button>
            <button mdbBtn type="submit" color="info"  class="my-4" size="sm">Save Changes</button>
         </form>
    </mdb-card-body>
</mdb-card>
