<!-- Material form register -->
<mdb-card style="color: #757575; max-width: 500px;">
    <mdb-card-body>
        <h3 >Write us a claim</h3>
        <form>
            <!-- First name -->
            <div class="form-row">
                <div class="col">
                  <!-- First name -->
                  <div class="md-form">
                    <input type="text" id="materialRegisterFormFirstName" class="form-control" mdbInput>
                    <label for="materialRegisterFormFirstName">First name</label>
                  </div>
                </div>
                <div class="col">
                  <!-- Last name -->
                  <div class="md-form">
                    <input type="email" id="materialRegisterFormLastName" class="form-control" mdbInput>
                    <label for="materialRegisterFormLastName">Last name</label>
                  </div>
                </div>
              </div>
        
  
              <!-- Phone number -->
            <div class="md-form">
                <input type="text" id="materialRegisterFormPhone" class="form-control" aria-describedby="materialRegisterFormPhoneHelpBlock"
                  mdbInput>
                <label for="materialRegisterFormPhone">Phone number</label>
              </div>
  
            <div class="md-form">
                <input mdbInput type="text" id="form2" class="form-control">
                <label for="form2">Email Address</label>
            </div>
            <div class="md-form">
              <input mdbInput disabled placeholder="{{today | date: 'dd-MMMM-YYYY'}}"type="text" id="form2" class="form-control">
              <label for="form2">Date</label>
          </div>
  
            <div class="md-form">
                <textarea
    type="text"
class="form-control md-textarea"
    mdbInput
    ></textarea>
    <label >Message</label>
            </div>


            <button mdbBtn color="indigo" block="true" class="my-4" type="submit">Send Claim</button>
         </form>
    </mdb-card-body>
  
  </mdb-card>
  