<div id="about">
    <div class="about">
      <!--Loader-->
   <div *ngIf="loader.isLoading | async" class="d-flex justify-content-center loader">
     <div class="spinner-border text-info" role="status">
       <span class="sr-only">Loading...</span>
     </div>
   </div>
   <!---/** Loader-->
     <div class="about-item">
         <h1 class="text-center text-info">eClaims</h1>
     <mdb-card style="color: #757575">
         <mdb-card-body>
             <h3 class="text-center">Recover your password</h3>
             <form [formGroup]="emailResetForm" (ngSubmit)="onSubmit()">
                 
                  <!-- Password -->
           <div class="md-form mb-0">
            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
            <input type="password" class="form-control" formControlName="password" mdbInput>
            <label>Password</label>
          </div>
          <!--validation-->
          <div *ngIf="password?.invalid && (password?.dirty || password?.touched)" class="text-danger">
            <small  *ngIf="password?.errors?.required"> *password is required</small>
            <small  *ngIf="password?.errors?.pattern"> *Must be at least 8 characters one
              small letter,<br/> capital letter,
              number and specail character</small>
          </div>
  
           <!-- Password -->
           <div class="md-form mb-0">
            <mdb-icon fas icon="lock" class="prefix"></mdb-icon>
              <input type="password" class="form-control" formControlName="confirmPassword" mdbInput>
              <label>Confirm password</label>
            </div>
            <div *ngIf="confirmPassword?.invalid && (confirmPassword?.dirty || confirmPassword?.touched)" class="text-danger">
              <small *ngIf="confirmPassword?.errors?.required"> *Confirm password is required</small>
            </div>
            <small *ngIf="emailResetForm.errors?.misMatch" class="text-danger">*Passwords don't not match</small>
            <button mdbBtn type="submit" [disabled]='!emailResetForm.valid' color="info" block="true" class="my-4" size="sm">Reset password</button>
          </form>
         </mdb-card-body>
     </mdb-card>
     </div>
 
     </div>
 </div>
 
 
 
 
 
 
 